md-card.md-whiteframe-2dp
    md-tabs(md-selected="tabsCtrl.currentTab").md-dynamic-height
        md-tab(label="{{'Examples' | translate}}" ui-sref="examples.overview")
            div(ui-view="examples")